#editor {
    width: 49.8%;
    height: 100vh;
    float: left;
}
#output {
    /* background-color: rgb(94, 94, 94); */
    width: 49.8%;
    height: 100vh;
    float: right;
    background-color: black;
    color: white;
}

h2 {
    color: #007BFF;
    font-family: 'Arial', sans-serif;
    text-align: center;
    margin-bottom: 20px;
    border-bottom: 2px solid #007BFF;
    padding-bottom: 5px;
}

.control-panel {
    display: flex;
    align-items: center;
    gap: 10px;
    background: lightgray;
    padding: 4px;
    font-family: sans-serif;
}

.compiler-select {
    padding: 8px;
    font-size: 14px;
}

.btn {
    padding: 8px 12px;
    font-size: 14px;
    cursor: pointer;
    border: none;
    border-radius: 4px;
    color: #fff;
}

.btn-compile {
    background-color: #4CAF50;
}

.btn-run {
    background-color: #007BFF;
}

.btn-clear-editor{
    background-color: red;
}

.btn-compile-run{
    background-color: purple;
}
