<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Online C++ Compiler!</title>
  <script src="https://cdn.jsdelivr.net/npm/@wasmer/wasi"></script>
  <script src="https://cdn.jsdelivr.net/npm/@wasmer/cli"></script>
  <link rel="stylesheet" href="../static/css/style.css">

  <script src="https://cdn.jsdelivr.net/npm/ace-builds@1.4.12/src/ace.js"></script>
  <script src="../static/js/lib/theme-monokai.js"></script>
  <script src="../static/js/script.js"></script>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<body>
  <h2>C Code Sandbox</h2>
  <div class="control-panel">
    Select compiler: &nbsp; &nbsp;
    <select id="compiler-select" class="compiler-select" onchange="updateVersionDropdown()">
      <option value="gcc">GCC</option>
      <option value="clang">Clang</option>
      <option value="icx">Intel® icx</option>
      <option value="tcc">TinyCC</option>
      <option value="g++">G++</option>
      <option value="clang++">Clang++</option>
      <option value="icpx">Intel® icpx</option>
    </select>
    <select id="version-select" class="compiler-select">
      <!-- Options will be dynamically added here based on the selected compiler -->
    </select>
    <!-- Add this button where you want it in your HTML -->
    <button class="btn btn-clear-editor" onclick="clearEditor()">Clear Editor <i class="fa fa-times"></i></button>
    <button class="btn btn-compile" data-url="/api/compile" onclick="compileCode(this)">Compile <i class="fa fa-gear"></i></button>
    <button class="btn btn-run" data-url="/api/run" onclick="runCode(this)">Run <i class="fa fa-play"></i></button>
    <button class="btn btn-compile-run" data-url="/api/compile/run" onclick="compileCode(this)">Compile + Run <i class="fa fa-code"></i></button>
  </div>

  <div class="editor" id="editor"></div>
  <div id="output"></div>

  <script>
    window.onload = function () {
      editor = ace.edit("editor");
      editor.setTheme("ace/theme/monokai");
      editor.session.setMode("ace/mode/c_cpp");
      updateVersionDropdown(); // populate dropdown on load
    };

    function updateVersionDropdown() {
      var compilerSelect = document.getElementById("compiler-select");
      var versionSelect = document.getElementById("version-select");
      versionSelect.innerHTML = ""; // Clear existing options
      
      if (compilerSelect.value === "gcc") {
        addOption(versionSelect, "5.4.0", "GCC 5.4.0");
        addOption(versionSelect, "7.5.0", "GCC 7.5.0");
        addOption(versionSelect, "9.4.0", "GCC 9.4.0");
      } else if (compilerSelect.value === "g++") {
        addOption(versionSelect, "5.4.0", "G++ 5.4.0");
        addOption(versionSelect, "7.5.0", "G++ 7.5.0");
        addOption(versionSelect, "9.4.0", "G++ 9.4.0");
      } else if (compilerSelect.value === "clang") {
        addOption(versionSelect, "3.8.0", "Clang 3.8.0");
        addOption(versionSelect, "6.0.0", "Clang 6.0.0");
        addOption(versionSelect, "10.0.0", "Clang 10.0.0");
      } else if (compilerSelect.value === "clang++") {
        addOption(versionSelect, "3.8.0", "Clang++ 3.8.0");
        addOption(versionSelect, "6.0.0", "Clang++ 6.0.0");
        addOption(versionSelect, "10.0.0", "Clang++ 10.0.0");
      } else {
        addOption(versionSelect, "latest", "Latest Version");
      }
    }

    function addOption(select, value, text) {
      var option = document.createElement("option");
      option.value = value;
      option.text = text;
      select.appendChild(option);
    }

    function clearEditor() {
      editor.setValue("");
      document.getElementById('output').innerHTML = '';
    }
  </script>
</body>
</html>
